<div class="modal-header">
  <h3 class="modal-title">About Swagger Editor</h3>
</div>
<div class="modal-body">
  <p>Swagger Editor</p>
  <!--<p>Version 2.8.x</p>-->
  <!--<p><a href="https://github.com/swagger-api/swagger-editor" target="_blank">Github Project Page</a></p>-->
  <div class="monospace">
    <p>
      Swagger Editor lets you edit API specifications in
      YAML  inside your browser and to preview documentations
      in real time. Valid Swagger JSON descriptions can then
      be generated and used with the full Swagger tooling
      (code generation, documentation, etc).
    <p>
    The editor supports the usage of the more human-friendly
    YAML format (used by default). Since JSON and YAML are
    interchangeable, the YAML structure correlates 1:1 with
    the JSON spec. To use with the other Swagger domain tools,
    simply execute File -> Download JSON and it will produce
    the converted JSON file.
    </p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">Close</button>
</div>
